@model Web.Models.Matches

<div class="main">
            <h3>Enter Match info</h3>

            <form asp-controller="Home" role="form" asp-action="AddMatches" method="post">
                <div>
                    Home Team ID<br />
                    <input type="text" id="hometeamID" spellcheck="false"  asp-for="@Model.HomeTeamId" />
                </div>
                <div>
                    Away Team ID
                    <input type="text" id="awayteamID" spellcheck="false" asp-for="@Model.AwayTeamId" />
                </div>
                <div>
                    Round number
                    <input type="text" id="roundnumber" spellcheck="false" asp-for="@Model.RoundNumber" />
                </div>
                <div>
                    Date
                    <input type="datetime-local" id="date" spellcheck="false"  asp-for="@Model.Date" />
                </div>
                <div>
                    <label></label>

                    <input type="submit" value="Add Match" id="addmatch" class="button" />
                </div>
                @{
//todo : msh 3arf a3mlha 3ayz a5leh lw 3ml add l match ywdeh 3ala nfs el page w yktblo added 
                    if (Model!=null)
                    {
                        <h1>Match has been added successfully</h1>
                    }
                }
              
            </form>
</div>

