@using Web.ViewModels

@model PasswordsViewModel

<h1>@ViewBag.Message</h1>

    <div id="addmatch" class="tab-pane fade in active">
        <h1>Change Password</h1>

        <form class="form-horizontal" asp-controller="Home" role="form" asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">Old Password</label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" id="oldpass" spellcheck="false" asp-for="@Model.oldPassword" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" id="newpass" spellcheck="false" asp-for="@Model.newPassword" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </div>
            </div>

        </form>
    </div>
