@model  Web.Models.Users
<html>
<head>
    <title>Index</title>
</head>
<body>

       
        @{if (Model!=null)
            {
                <font color="green">Hello @Model.Username !</font>
            }
            else
            {
                <form asp-controller="Home" asp-action="Index" method="post">
                    <input placeholder="Username" type="text" asp-for="Username" />
                    <input placeholder="*****" type="password" asp-for="Password" />
                    <input type="submit" value="SignUP" />
                </form>

            }
        }

</body>

</html>

