@using Microsoft.AspNetCore.Http;
<br />



<div>
    @{
        if (Context.Session?.GetInt32("ID") == null && Context.Session?.GetInt32("AdminID") == null)
        {
            @await Component.InvokeAsync("Login")
        }
    }
    
    @await Component.InvokeAsync("Matches")
</div>
