@using Web.ViewModels

@model PlayerViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>

    <h2>Players</h2><br />
    <table class="table table-hover table-responsive table-striped ">
        <thead>
            <tr>
                <th><h1 class="text-center ">Player name</h1></th>
                <th><h1 class="text-center">Team</h1></th>
                <th><h1 class="text-center">Position</h1></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var i in @Model.Players)
                {
                    <tr>
                        @for (int x = 1; x <= 3; x++)
                        {
                            <td><h3 class="text-center">@i[x]</h3> </td>
                        }
                        <td>
                            <button type="button"  data-toggle="modal" data-target="#Modal" class="open-modal btn btn-primary btn-sm" data-url="@i[0]">
                                Remove
                            </button>
                            <a asp-controller="Home" asp-action="RemovePlayer" asp-route-PlayerID="@i[0]" class="btn btn-primary" >Remove</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

<div id="Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove player confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this player from league?!</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="confirm" href="#" data-dismiss="modal">Yes</a>
                <a class="btn btn-primary" id="close" data-dismiss="modal">No</a>
            </div>
        </div>

    </div>
</div>

<script>
    $('#confirm').click(UpdateUserInfo);
    function UpdateUserInfo() {
        $.ajax({
            type: 'GET',
            url: '/Home/RemovePlayer/' + $('.open-modal').data('url'),
            success: function (result) {
                alert("Success!");
            }
        })
    };
</script>

