@model List<object[]>


<table class="table table-hover table-bordered table-responsive table-striped ">
<tr><th>Username</th><th>points</th></tr>
    @{
        foreach (var x in Model)
        {
            <tr>
                <td  ><a asp-action="Profile" asp-controller="game" asp-route-id="@x[0]"  >@x[1]</a></td>
             <td>@x[2]</td>
            </tr>
        }


    }


    </table>
