

<script src="~/lib/jquery/dist/jquery.js"></script>

<a href="#" id="3">z</a>
<div id="result"></div>
<script> var baseURL = '@Url.Action("Index")';</script>
<script src="~/js/site.js">
   
</script>